<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.BookMapper">
    <insert id="addBook" parameterType="books">
        insert into books value(#{bookID},#{bookName},#{bookCounts},#{detail})
    </insert>
    <delete id="deleteBookById" parameterType="int">
        delete from books where bookID=#{bookId}
    </delete>
    <update id="updateBook" parameterType="books">
        update books set bookID=#{bookID},bookName=#{bookName},bookCounts=#{bookCounts},detail=#{detail} where
        bookID=#{bookID}
    </update>

    <select id="queryBookById" parameterType="books" resultType="books">
        select *from books where bookID=#{bookID}
    </select>
    <select id="queryAllBooks" resultType="books">
        select *from books
    </select>
    <select id="queryBookByName" parameterType="String" resultType="books">
        select * from books where bookName=#{bookName}
    </select>
</mapper>